@use '../../colors.scss' as *;

.mainBanner {
  padding: 4rem 0;
}
.mainBanner__figure {
  line-height: 0;
  border-radius: 12px;
  box-shadow: 0 4px 25px 0 rgba($ebony, 25%);
}
.mainBanner__image {
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.eventDetail {
  padding: 8rem 0;
}
.eventDetail__container {
  max-width: 800px;
}
.eventDetail__meta {
  display: flex;
  gap: 2rem;
  justify-content: center;
  color: $ebony;
}
.eventDetail__calendar {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.eventDetail__time {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.eventDetail__location {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.eventDetail__content {
  & a {
    color: $cerulean-blue;
  }
  & h3 {
    margin: 4rem 0 2rem;
  }
  figure {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  figcaption {
    font-size: 1.4rem;
    margin-top: 0.4rem;
    width: 100%;
    color: rgba($ebony, 0.5);
    text-align: left;
  }
  & ol {
    font-size: 1.8rem;
    list-style: decimal;
    list-style-position: outside;
    margin-bottom: 2rem;
    padding-left: 2rem;
    & li {
      margin-bottom: 1rem;
    }
  }
  & ul {
    font-size: 1.8rem;
    list-style: disc;
    list-style-position: outside;
    margin-bottom: 2rem;
    padding-left: 2rem;
    & li {
      margin-bottom: 1rem;
    }
  }
}
.eventDetail__cta {
  margin: 4rem auto 0;
}

.eventLocation__figure {
  line-height: 0;
  border-radius: 12px;
}
.eventLocation__image {
  width: 100%;
  height: auto;
  border-radius: 12px;
}
