@use '../../../app/\(frontend\)/colors' as *;

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 3rem;
  padding: 0 0 8rem;
  @media (min-width: 880px) {
    grid-template-columns: repeat(2, minmax(400px, 1fr));
  }
}
