@use '../../../app/\(frontend\)/colors' as *;

.headingDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 0 8rem;
}
.heading {
  text-align: center;
  color: $ebony;
}
.subHeading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
  text-align: center;
  color: $dodger-blue;
}
.description {
  padding: 0 8rem;
  text-align: center;
  max-width: 960px;
  color: $ebony;
  & .bold {
    font-weight: bold;
  }
}
