@use '../../../app/\(frontend\)/colors' as *;

.card {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid $mischka;
}
.card__body {
  padding: 0 3rem 2rem;
}
.card__figure {
  margin-bottom: 3rem;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

.card__tags {
  font-size: 1.4rem;
  gap: 0.4rem;
  display: flex;
  margin-bottom: 3rem;
  padding: 0.4rem;
  width: max-content;
  border-radius: 2rem;
  color: $dark-blue;
  background-color: $athens-gray;
}
.card__tag {
  padding: 0.5rem 1.2rem;
  border-radius: 2rem;
  &:first-child {
    background-color: $white;
  }
}
.card__title__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.card__title {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  text-align: left;
}
.card__description {
  margin-bottom: 1rem;
  text-align: left;
}
.card__footer {
  margin-top: auto;
  padding: 0 3rem 2rem;
}
.card__meta {
  display: flex;
  align-items: center;
  gap: 1rem;
  p {
    margin: 0;
  }
}
.card__authorImage {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 160%;
}
.card__authorName {
  font-size: 1.4rem;
  color: $ebony;
}
.card__publishDate {
  font-size: 1.4rem;
  color: rgba($ebony, 0.5);
}
.card__buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
// .card_readButtons,
// .card_downloadButtons {
//   display: flex;
//   gap: 2rem;
// }
.card__readButton,
.card__downloadButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  gap: 0.8rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  border: 1px solid rgba($ebony, 12%);
}
.card__readButton {
  background-color: $yellow;
}
.card__downloadButton {
  margin-top: 1rem;
  color: $white;
  background-color: $dark-blue;
}
.readButton__icon,
.downloadButton__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
}
.readButton__icon {
  background-color: #ffe200;
}
.downloadButton__icon {
  background-color: #002ecc;
}
.readButton__helpText,
.downloadButton__helpText {
  color: rgba($ebony, 0.6);
}
