@use '../../../app/\(frontend\)/colors' as *;

$label-fg: $dark-blue;
$label-bg: transparent;
$label-hover-fg: $white;
$label-hover-bg: $cerulean-blue;

$label-selected-fg: $dark-blue;
$label-selected-bg: $yellow;

$input-fg: $dark-blue;
$input-bg: $white;
$input-placeholder-fg: rgba($ebony, 30%);
$input-focus-outline: rgba($cerulean-blue, 30%);

.donationDetails {
  // position: absolute;
  // bottom: 0;
  // left: 0;
  width: 100%;
  @media (min-width: 900px) {
    max-width: 560px;
  }
}
.donationCard {
  position: relative;
  display: flex;
  flex-direction: column;
  // align-items: center;
  margin-bottom: 2rem;
  padding: 3rem;
  border-radius: 14px;
  background-color: $white;
  box-shadow: 0 4px 25px 0 rgba($ebony, 25%);
  @media (min-width: 768px) {
    padding: 4rem;
  }
}
.stepCompletionIcon {
  position: relative;
  display: block;
  padding: 0.4rem;
  line-height: 0;
  border-radius: 50px;
  background-color: rgba($green-haze, 0.1);
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 20px;
    height: 20px;
    padding: 1rem;
    border-radius: 50px;
    background-color: rgba($green-haze, 0.07);
  }
}
.donationCardHeading {
  font-size: 2.8rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  // max-width: 400px;
  width: 100%;
  // text-align: left;
  &.marginBottom {
    margin-bottom: 0;
  }
  @media (min-width: 600px) {
    font-size: 3.2rem;
  }
  @media (min-width: 900px) {
    font-size: 4.2rem;
  }
}
.donationCardHeadingHome {
  // font-size: 4.2rem;
  // max-width: 400px;
  width: 100%;
  text-align: center;
}
.donatingHandIcon {
  position: absolute;
  top: 2.8rem;
  right: 2rem;
}
.donationForm {
  width: 100%;
}
.inputGroup {
  position: relative;
  margin-bottom: 1.8rem;
}
.inputGroupLabel {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: rgba($ebony, 56%);
  @media (min-width: 768px) {
    font-size: 1.6rem;
  }
}
.inputHint {
  font-size: 1.4rem;
  font-weight: normal;
  margin-top: 1rem;
  color: rgba($ebony, 56%);
}
.inputError {
  font-size: 1.4rem;
  font-weight: normal;
  margin-top: 1rem;
  color: $red;
}
.loginMessage {
  font-size: 1.4rem;
  font-weight: normal;
  margin-top: 1rem;
  padding: 0.4rem 1rem;
  border-radius: 4px;
  background-color: $pattens-blue;
}
.loginLink {
  color: $dark-blue;
}
.donationButtons {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
select.input {
  appearance: none;
  background-image: url('/chevron-down.svg');
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) center;
  & .option {
    padding: 2rem;
  }
}
.customRadio {
  width: 100%;
  label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  input {
    display: none;
    appearance: none;
    width: 0;
    height: 0;
    &:checked + label {
      border: 1px solid $yellow;
      color: $label-selected-fg;
      background-color: $label-selected-bg;
    }
    &:disabled + label {
      border: 1px solid $mercury;
      color: darken($mercury, 25) !important;
      background-color: $mercury;
      pointer-events: none;
    }
  }
}
.donationCustomLabel {
  font-family: inherit;
  font-weight: 500;
  font-size: 1.6rem;
  display: block;
  padding: 1.4rem 2.2rem;
  border: none;
  line-height: 2.4rem;
  outline: none;
  text-align: center;
  border: 1px solid rgba($ebony, 12%);
  border-radius: 6px;
  cursor: pointer;
  transition:
    background 0.15s,
    color 0.15s,
    box-shadow 0.3s;
  user-select: none;
  color: $label-fg;
  background-color: $label-bg;
  &:active {
    box-shadow: 0 0 0 4px rgba($label-hover-bg, 30%);
  }
  @media (min-width: 768px) {
    font-size: 1.8rem;
  }
}
.donationFixedAmounts {
  display: flex;
  flex-direction: column;
  @media (min-width: 400px) {
    flex-direction: row;
  }
  & .customRadio {
    & input:not(checked) + label {
      border: 1px solid rgba($ebony, 12%);
      color: rgba($ebony, 30%);
      &:hover {
        color: $label-hover-fg;
        background-color: $label-hover-bg;
      }
    }
    & input:checked + label {
      color: $label-selected-fg;
    }
    &:nth-child(1):not(:last-child) {
      & .donationCustomLabel {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    &:nth-child(2):not(:last-child),
    &:nth-child(3):not(:last-child) {
      & .donationCustomLabel {
        border-radius: 0;
        border-radius: 0;
      }
    }
    &:last-child {
      & .donationCustomLabel {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}
.input {
  font-family: inherit;
  font-weight: bold;
  font-size: 1.6rem;
  display: block;
  padding: 1.4rem 2.2rem;
  width: 100%;
  border: none;
  line-height: 2.4rem;
  outline: none;
  text-align: initial;
  border: 1px solid rgba($ebony, 12%);
  border-radius: 6px;
  transition:
    background 0.15s,
    color 0.15s,
    box-shadow 0.3s;
  color: $input-fg;
  background-color: $input-bg;
  &:focus {
    box-shadow: 0 0 0 4px $input-focus-outline;
  }
  &::placeholder {
    color: $input-placeholder-fg;
  }
  @media (min-width: 768px) {
    font-size: 1.8rem;
  }
}
.iconSelect {
  position: absolute;
  right: 10px;
  top: 64px;
  transform: translateY(-50%);
  pointer-events: none;
  svg {
    color: $dark-blue;
  }
  @media (min-width: 768px) {
    top: 68px;
  }
}

.loadingIcon {
  animation: animate 1s ease infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}
