@use '../../../app/\(frontend\)/colors' as *;

.loginForm {
  padding: 3rem;
  border-radius: 12px;
  background-color: $white;
  box-shadow: 0 4px 25px 0 rgba($ebony, 5%);
}
.message {
  font-size: 1.4rem;
  text-align: right;
  padding: 0 0 3rem;
}
.link {
  color: $dark-blue;
}
