@use '../../../app/\(frontend\)/colors' as *;

.twoColumnCard2 {
  padding: 5rem 0rem;
  @media (min-width: 768px) {
    padding: 10rem 0;
  }
}
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  // overflow: hidden;
}
.cardBody {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  @media (min-width: 900px) {
    flex-direction: row;
  }
}
.colOne {
  order: 1;
  padding: 4.4rem 2.6rem 3.2rem 3.6rem;
  width: 100%;
  overflow: hidden;
  border-radius: 0 0 12px 12px;
  @media (min-width: 900px) {
    order: 0;
    padding: 8.4rem 4.6rem 6.2rem 6.6rem;
    width: 50%;
    border-radius: 12px 0 0 12px;
  }
}
.colTwo {
  order: 0;
  width: 100%;
  border-radius: 12px 12px 0 0;
  @media (min-width: 900px) {
    order: 1;
    width: 50%;
    border-radius: 12px 0 0 12px;
  }
}
.imageHolder {
  width: 100%;
  height: 250px;
  @media (min-width: 768px) {
    height: 350px;
  }
  @media (min-width: 900px) {
    height: 100%;
  }
}
.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  @media (max-width: 900px) {
    border-radius: 12px 12px 0 0 !important;
  }
}
.title {
  font-size: 3.4rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: $white;
  width: 100%;
  @media (min-width: 900px) {
    font-size: 4.4rem;
  }
}
.description {
  font-family: var(--font-ubuntu-sans);
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
  color: $white;
}
