@use '../../colors.scss' as *;

.donationSuccess {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 0 15rem;
}

.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  width: 100%;
  border-radius: 14px;
  background-color: $white;
  box-shadow: 0 4px 25px 0 rgba($ebony, 25%);
}
.success__heading {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 6rem;
  text-align: center;
  color: $dark-blue;
}
.success__description {
  font-size: 3.6rem;
  margin-bottom: 4rem;
  padding: 0 8rem;
  text-align: center;
  color: rgba($ebony, 67%);
}
