$background: #fff;

.header {
  width: 100%;
  padding: 2rem 0;
  background-color: $background;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navMenu {
  position: relative;
  display: flex;
  gap: 1rem;
  align-items: center;
  & ul:not(.subMenu) {
    list-style-type: none;
    display: flex;
    gap: 4rem;
  }
  & a {
    font-size: 1.8rem;
    font-weight: bold;
    display: block;
  }
}
.navItem {
  &:hover {
    & > .navItemTitle,
    & > .navLink {
      color: var(--dark-blue);
      transition: 0.1s;
    }
    .subMenu {
      display: block;
    }
  }
}
.navItemTitle,
.navLink {
  font-size: 1.8rem;
  font-weight: bold;
  display: block;
  cursor: pointer;
}
.navItemTitle,
.navLink {
  padding: 2rem;
}
.hasSubMenu {
  .navLink {
    padding: 1.2rem 4rem 1.2rem 2rem;
  }
  &:hover {
    .subMenu {
      display: block;
    }
  }
}
.subMenu {
  position: absolute;
  display: none;
  list-style-type: none;
  gap: 4rem;
  top: 83px;
  padding: 0;
  border-radius: 8px;
  z-index: 10;
  background-color: var(--white);
  box-shadow: 0 4px 25px 0 rgba(var(--ebony), 0.08);
  &::before {
    content: '';
    position: absolute;
    top: -30px;
    left: 0;
    display: block;
    height: 30px;
    width: 100%;
    z-index: 10;
    background-color: transparent;
  }
  & li {
    &:first-child .navLink {
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    &:last-child .navLink {
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
  }
  & .navLink {
    &:hover {
      transition: 0.1s;
      color: var(--dark-blue);
      background-color: var(--yellow);
    }
  }
}
.logo {
  width: 80px;
  height: auto;
  @media (min-width: 768px) {
    width: 120px;
  }
}
.userProfileBtn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 2rem 3rem;
  @media (min-width: 1200px) {
    padding: 0;
    flex-direction: row;
  }
}
.buttonLink {
  padding: 0;
}
.menuToggle {
  width: 0;
  height: 0;
  appearance: none;
  display: none;
}
.drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  max-width: 80vw;
  height: 100%;
  background: var(--dark-blue);
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
}
.menuToggle:checked ~ .drawer {
  transform: translateX(0);
}

.menuToggle:checked ~ .overlay {
  opacity: 1;
  visibility: visible;
}
.mobileMenuButton {
  display: none;
}
.drawerNav {
  & a {
    font-size: 1.8rem;
    display: block;
    padding: 2rem 3rem;
    color: var(--titan-white);
  }
}
.drawerHeader {
  padding: 2rem 3rem;
  text-align: right;
}
@media (max-width: 1200px) {
  .navMenu {
    display: none;
  }
  .mobileMenuButton {
    display: block;
  }
}
