@use '../colors.scss' as *;

.privacyPolicy {
  padding: 4rem 0 4rem;
}
.policy {
  ol {
    font-size: 1.8rem;
    padding: 0 2rem 2rem;
    list-style: lower-alpha;
  }
  ul {
    font-size: 1.8rem;
    padding: 0 2rem 2rem;
    list-style-type: disc;
  }
}
