@use '../../../app/\(frontend\)/colors' as *;

.donation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 0 15rem;
}
.flex {
  display: flex;
  gap: 2rem;
}
.flexCol {
  flex-grow: 1;
  flex-basis: 50%;
  min-width: 50%;
}
.btnStepBack {
  margin: 0 auto;
  margin-bottom: 2rem;
}
.donationCart {
  display: flex;
  flex-direction: column;
  // align-items: center;
  padding: 4rem;
  width: 100%;
  border-radius: 14px;
  background-color: $white;
  box-shadow: 0 4px 25px 0 rgba($ebony, 25%);
  & .flex {
    flex-direction: column;
  }
}
.projectName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  & h3 {
    font-size: 2rem;
    font-weight: 500;
  }
  & p {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: right;
  }
}
.donationType,
.supportType {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  & h3 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    color: $ebony;
  }
  & p {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1;
    color: rgba($ebony, 56%);
  }
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  & h3 {
    font-size: 2rem;
    font-weight: 500;
  }
  & p {
    font-size: 2.4rem;
    font-weight: bold;
    text-align: right;
  }
}
.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  width: 100%;
  border-radius: 14px;
  background-color: $white;
  box-shadow: 0 4px 25px 0 rgba($ebony, 25%);
}
.success__heading {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 6rem;
  text-align: center;
  color: $dark-blue;
}
.success__description {
  font-size: 3.6rem;
  margin-bottom: 4rem;
  padding: 0 8rem;
  text-align: center;
  color: rgba($ebony, 67%);
}
