$dark-blue: #0000cc;
$yellow: #ffff00;
$ebony: #121127;
$mine-shaft: #2f2f2f;
$dodger-blue: #3399ff;
$sandy-brown: #f29559;
$flamingo: #f26419;
$red: #ff080c;
$green-haze: #039855;
$titan-white: #f2f3ff;
$alabaster: #fcfcfc;
$athens-gray: #eaecf0;
$mischka: #d0d5dd;
$woodsmoke: #0a090c;
$cerulean-blue: #444bd3;
$white: #fff;
$black: #000;
