@use '../../../app/\(frontend\)/colors' as *;

// .awardsAndRecognition {
//   padding: 8rem 0 10rem;
//   @media (min-width: 768px) {
//     padding: 16rem 0 10rem;
//     flex-direction: row;
//   }
//   @media (min-width: 1300px) {
//     padding: 24rem 0 10rem;
//     flex-direction: row;
//   }
// }
.awardsAndRecognition {
  padding: 8rem 0;
}
.container {
  position: relative;
}
.flexBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10rem;
  @media (min-width: 992px) {
    flex-direction: row;
  }
}
.flexCol {
  flex-grow: 1;
  flex-basis: 100%;
  @media (min-width: 992px) {
    flex-basis: 50%;
  }
  &:first-child {
    order: 2;
    @media (min-width: 992px) {
      order: 1;
    }
  }
  &:last-child {
    order: 1;
    @media (min-width: 992px) {
      order: 2;
    }
  }
}
.medalImage {
  position: absolute;
  display: none;
  top: -100px;
  left: -220px;
  width: auto;
  height: 294px;
}
.heading {
  text-align: left;
}
.subHeading {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
  text-align: left;
  color: $dodger-blue;
}
.description {
  margin-bottom: 3rem;
  text-align: left;
}
.image {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.quote {
}
.quoteAuthor {
  font-weight: 600;
  margin-bottom: 6rem;
}
.quoteCite {
  font-weight: normal;
}
