$mobile-menu-bg: #0000cc;

.drawer {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  max-width: 80vw;
  height: 100%;
  background: var(--dark-blue);
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
}

.mobileMenuButton {
  display: none;
}
.drawerNav {
  & a {
    font-size: 1.8rem;
    display: block;
    padding: 2rem 3rem;
    color: var(--titan-white);
  }
}
.drawerHeader {
  padding: 2rem 3rem;
  text-align: right;
}

.mobileSubMenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.subMenuOpen .mobileSubMenu {
  max-height: 500px;
}

.mobileSubMenuToggle {
  transition: transform 0.3s ease;

  svg {
    transition: transform 0.3s ease;
  }
}

.subMenuOpen .mobileSubMenuToggle svg {
  transform: rotate(90deg);
}

.menuToggle {
  width: 0;
  height: 0;
  appearance: none;
  display: none;
}
.buttonsGroup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  padding: 2rem 3rem;
}
.buttonLink {
  width: 100%;
}
.drawer {
  position: fixed;
  top: 0;
  right: 0;
  display: block;
  width: 300px;
  max-width: 80vw;
  height: 100%;
  background: var(--dark-blue);
  z-index: 1000;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  @media (min-width: 1200px) {
    display: none;
  }
}
.menuToggle:checked ~ .drawer {
  transform: translateX(0);
}

.menuToggle:checked ~ .overlay {
  opacity: 1;
  visibility: visible;
}
.mobileMenuButton {
  display: none;
}
.drawerNav {
  & a {
    font-size: 1.8rem;
    display: block;
    padding: 2rem 3rem;
    color: var(--titan-white);
  }
}
.drawerHeader {
  padding: 2rem 3rem;
  text-align: right;
}

.mobileNavItemTitle {
  font-size: 1.8rem;
  display: block;
  color: var(--white);
}

.mobileSubMenu {
  background-color: darken($mobile-menu-bg, 5);
  & .mobileNavLink {
    padding-left: 5rem;
  }
}
.mobileSubMenuToggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 3rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
