// .banner {
//   position: relative;
//   overflow: visible;
// }
// .donationFormContainer {
//   overflow: visible;
// }
// .donationForm {
//   position: relative;
//   top: 100px;
// }

.banner {
  position: relative;
  overflow: visible;
  padding-bottom: 4rem; // add extra space to accommodate the "leaked" form
}

.donationFormContainer {
  overflow: visible;
}

.donationForm {
  padding-bottom: 6rem;
  transform: translateY(50px); // visually move it downward into the next section
}
